<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_list.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_list.description %>
</p>

<%= link_to 'Edit', edit_project_list_path(@project_list) %> |
<%= link_to 'Back', project_lists_path %>
