<p id="notice"><%= notice %></p>

<h1>Listing projects</h1>
<%= link_to 'New project', new_userproject_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @userprojects.each do |userproject| %>
      <tr>
        <td><%= userproject.name %></td>
        <%= time_ago_in_words(userproject.created_at) %> ago by <% userproject.user.name %> <% userproject.user.lastname %>
        <td><%= userproject.desc %></td>
        <td><%= link_to 'Show', userproject %></td>
        <td><%= link_to 'Edit', edit_userproject_path(userproject) %></td>
        <td><%= link_to 'Destroy', userproject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        <td><% if userproject.tickets.any? %> </td>
        <td>Tickets</td>
        <%= render userproject.ticket %>
      </tr>
    <% end %>
    
    <p>Add ticket</p>
    <%= form_for([userproject, userproject.ticket.build]) do |f| %>
      <%= f.text_area :name %>
      <%= submit_tag "Add" %>
    <% end %>
    
  </tbody>
</table>

<br>


<% end %>