<h1>Listing projects</h1>
<%= link_to 'New project', new_userproject_path %>



<% @userprojects.each do |userproject| %>

  <div style="border: 1px solid black">
    
    <h3><%= userproject.name %></h3>
      <%= userproject.desc %> <br>
      <%= time_ago_in_words(userproject.created_at) %> ago by <% userproject.user.name %> <% userproject.user.lastname %>
    <br>
      <%= link_to 'Edit', edit_userproject_path(userproject) %>
      <%= link_to 'Destroy', userproject, method: :delete, data: { confirm: 'Are you sure?' } %>
        
    <% if userproject.tickets.any? %>
      <h4>Tickets</h4>
      <%= render userproject.tickets %>
    <% end %>
    
    <p>Add ticket</p>
    <%= form_for([userproject, userproject.tickets.build]) do |f| %>
    <%= f.text_area :name %>
      <%= submit_tag "Add" %>
    <% end %>
    
  </div>

<br>

<% end %>
